/docker-compose/nifi/content_repository/
/docker-compose/nifi/database_repository/
/docker-compose/nifi/flowfile_repository/
/docker-compose/nifi/logs/
/docker-compose/nifi/provenance_repository/
/docker-compose/nifi/state/
/docker-compose/nifi/conf/archive/
